body{
    background-image: url(pexels-photo-4007744.jpeg);
    background-size: cover;
    background-position: center;
    }

.bakgrund {
position: relative;
padding-top: 30vh; 
padding-left: 2vh;
padding-right: 2vh;

}
/* Ändringar för bakgrunds klassen */

/* ändringar för text klassen */
.text{
text-align: center;
color: white;
justify-content: center;
font-family: cursive;
font-size: large;
backdrop-filter: blur(100px);
border-radius: 5px;

transition: .3s ease
}
/* Element för att texten ska hovra */
.text:hover{
    transform: scale(1.2);
}
/* Anpassad för olika storlekar */
@media screen and (max-width: 600px){
    
}
